body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}
h1, h2 {
    color: #333;
}
form {
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
}
pre {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    width: 50%;
    margin: 20px auto;
    text-align: left;
}